@model IEnumerable<car_kaashiv_web_app.Models.CartViewModel>

<div class="table-responsive">
    <table class="align-middle table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Part</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fw-semibold">@item.PartName</td>
                    <td style="max-width:100px">
                        <input class="text-center form-control form-control-sm"
                               min="1"
                               onchange="updateQuantity(@item.CartId, this.value)"
                               type="number"
                               value="@item.Quantity" />
                    </td>
                    <td>₹@item.UnitPrice?.ToString("0.00")</td>
                    <td>₹@item.Total?.ToString("0.00")</td>
                    <td class="text-center">
                        <button class="btn btn-outline-danger btn-sm"
                                onclick="removeFromCart(@item.CartId)">
                            <i class="bi bi-trash"></i> Remove
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="cart-summary text-end mt-3">
    <h5 class="fw-bold">Grand Total: ₹ @Model.Sum(item => item.Total)</h5>
</div>
<div class="d-flex justify-content-end mt-3">
    <button class="btn btn-lg btn-success" onclick="ProceedCheckout()">
        <i class="bi bi-cart-check"></i> Proceed to Checkout
    </button>
</div>





