
@{
    ViewData["Title"] = "User Parts"; 
}
<style>
    .card:hover{
        transform:translateY(-5px);
        transition:0.3s ease;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    }
</style>

<h2>Car parts</h2>

<div class="container mt-4">
    <h2 class="mb-4 text-center">Available parts</h2>
</div>

   <div class="m-3">
    @* <a href="#" class="btn btn-primary" id="loadCartBtn">Cart</a> *@   
    <button class="btn btn-primary" onclick="loadCart()">View Cart</button>
</div>

<div class="row g-4"> <!---gutters (spacing) between columns automatically.--->
    
    @foreach (var part in Model)
        {
         <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
            <div class="card shadow-sm h-100 " style="width:100%;max-width:10rem;">
                <img src="@part.ImagePath" alt="@part.PName" class="card-img-top img-fluid" style="object-fit :cover; height:150px" />

                <div class="card-body  text-center">
                    <h3 class="card-title">@part.PName</h3>
                    <p class="card-text fw-bold text-primary mb-0">@part.PartId</p>
                    <p class="card-text fw-bold text-primary mb-0">₹@part.PPrice</p>
                    <input type="number" min="1" value="1" class="form-control" id="qty-@part.PartId" />
                    
                    <button class="btn btn-success mt-2 w-100" onclick="addToCart(@part.PartId,'@part.PName',@part.PPrice)">Add to cart</button>
         
                </div>              
            </div>
         </div>
        }  
</div>
<!---Cart Modal--->
<div class="modal fade" id="cartModal" tabindex="-1" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your cart 🛒</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="cartContent">
                <!----partial will load here----->
            </div>
        </div>
    </div>
</div>
<!--Cart icon button--->
@* <button class="btn btn-outline-primary" onclick="loadCart()">🛒 Cart</button> *@
<script src="~/js/removeFromCartItem.js"></script>
<script src="~/js/AlertHelper.js"></script>
<script src="~/js/loadCart.js"></script>
<script src="~/js/removeFromCart.js"></script>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />  
}
