@model car_kaashiv_web_app.Models.InvoiceViewModel

@{
    ViewData["Title"] = "Invoice";   
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="invoice-container" class="container mt-4" style="max-width:800px;">
    <div class="border p-4 rounded shadow">
        <h1 class="text-center">Car Kaashiv online spare shop</h1>
        <h2 class="text-center">Invoice</h2>
        <hr />
      
        <div class="d-flex justify-content-between">
            <div>
                <h5>Invoice #: @Model.InvoiceNumber</h5>
                <p>Date: @Model.OrderDate?.ToString("dd MMM yyyy")</p>                
            </div>
            <div class="text-end">
                <h5>Customer</h5>
                <p>@Model.UserName <br /> @Model.UserEmail</p>
            </div>
        </div>
        <hr />
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items!)
                {
                    <tr class="text-center">
                        <td>@Model.UserName</td>
                        <td >@item.PartName</td>
                        <td>@item.Quantity</td>
                        <td>₹@item.UnitPrice</td>
                        <td>₹@item.Total</td>
                    </tr>
                }
                <tr>                   
            </tbody>
        </table>
        <div>
            <h4 class="text-end">Grand Total: ₹@Model.TotalAmount</h4>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary" onclick="printInvoice()">Print Invoice</button>
        </div>


    </div>
   
</div>

 <script>
     function printInvoice(){
        const printContents = document.getElementById('invoice-container').innerHTML;
        const originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
     }

</script>